body {
  background-image: url("../img/jumbotron-img.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.sandwich {
  margin-top: 10px;
  position: fixed;
  right: 0;
  z-index: 4;
  display: none;
}

.sandwich > .container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(0, 100, 100);
  margin: 6px 0;
  transition: 0.8s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 2, 15, 0.55); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background: #181818;
  transition: 0.8s;
}

.profile-pict {
  height: 200px;
  width: auto;
  border: solid #404040 10px;
}

.medsos img {
  height: 25px;
  width: auto;
  margin: 6px;
}

.logo-bg {
  background-color: #404040;
  display: inline-block;
  border-radius: 50%;
  margin: 2px;
}

.logo-bg:hover {
  background-color: rgb(0, 100, 100);
  size: 200%;
}

.nav-menu {
  margin: 30px 0px;
}

.nav-menu > ul > li {
  margin: 25px 0px;
  list-style: none;
}

.nav-menu a {
  color: rgb(161, 159, 159);
  font-size: 17px;
}

.nav-menu a:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.nav-menu > ul > li > a > i {
  margin-right: 15px;
}

.navfooter {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  text-align: center;
}
.navfooter > p {
  margin: 2px;
  color: white;
}

.hero {
  position: relative;
  height: 700px;
  z-index: 2;
}

.hero > .quotes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.quotes > h1 {
  font-size: 40px;
  font-weight: bold;
}

.quotes > p {
  font-style: oblique;
  font-weight: lighter;
  font-size: 20px;
}

.quotes > h1 span {
  color: tomato;
}

.quotes > p span {
  border-bottom: solid aqua 2px;
}

.main {
  position: relative;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  margin-left: 300px;
  padding: 2%;
}

.profile-photo {
  margin-left: 40px;
  margin-top: 32px;
  height: 224px;
  width: 224px;
  border: solid rgb(0, 100, 100) 5px;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

.about td,
th {
  display: table-cell;
  vertical-align: top;
}

.skill {
  margin: 0px 10px 10px 10px;
}

.main > .footer {
  position: relative;
  background-color: #272727;
  margin: -3%;
  padding: 25px;
  color: white;
  text-align: center;
}

#about,
#resume,
#contact {
  font-weight: bolder;
  border-bottom: solid rgb(0, 100, 100) 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  body {
    background-position-x: center;
  }

  .sandwich {
    display: block;
  }

  .main {
    margin-left: 0px;
    right: 0;
    bottom: 0;
  }
}
